/* Сброс/нормализация по минимуму */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}article

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #1f2933;
  background-color: #000000;
}


.container__utp {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.utp__div {
    border-radius: 4px;
    background: #1B1B1B;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 0 0;
}

.utp__img {
    height: auto;
    width: 100%;
}

.utp__text {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.utp__heading {
    color: #FFF;
    font-family: "RF Dewi";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.utp__text {
    color: rgba(255, 255, 255, 0.60);
    font-family: "RF Dewi";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}