/* Сброс/нормализация по минимуму */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}article

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #1f2933;
  background-color: #000000;
}

/* Общая сетка страницы */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}


/* Контейнер */
.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}

.container__cat {
  width: 100%;
}

.tables__cat {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
}

.table__item {
  display: flex;
  height: 320px;
  flex-basis: 50%;
  padding: 20px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.table__item.half {
 flex-basis: 50%;
}

.table__item.third {
  flex-basis: 33.33%;
}

.table__content {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__content__left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.table__catname {
  color: rgba(255, 255, 255, 0.60);
  font-family: "RF Dewi";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

h2.table__title {
  color: #FFF;
  font-family: "RF Dewi";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}

.table__price {
  color: #FFF;
  font-family: "RF Dewi";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}


/* Hero-блок */
.hero {
  padding: 48px 0 32px;
}


/* Адаптив */
@media (max-width: 768px) {
  
  
}